name: Deploy to Surge
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Surge
        run: npm install -g surge
      - name: Deploy to Surge
        run: surge . ban-tho-canh-nau.surge.sh --token ${{ secrets.SURGE_TOKEN }}
